* {
box-sizing: border-box;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul,
li, h1,h2{
    list-style: none;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 12px;
}
body{
    outline: 1px solid red;
    margin: auto;
    padding: 0;
    font: 15px Helvetica,Arial,sans-serif;
    max-width: 1920px;
    min-width: 320px;
    color: #7a7a7a;
}

//vars
$bcgColor: #17252A;
$bcgColor2: #3aafa9;

//mixin
@mixin btnLink {
    color: #fff;
    background-color: $bcgColor2;
    font-size: 21px;
    padding: 10px 10px 10px 40px;
    border-radius: 5px;
    font-weight: 700;
    letter-spacing: 1px;
    position: relative;
    transition: all .3s;
    &::before {
        content: '';
        position: absolute;
        width: 16px;
        height: 16px;
        background: url(../icons/telephone-fill.svg);
        left: 15px;
        top: 50%;
        transform: translateY(-50%);
    }
    &:hover {
        color: #fff;
        background-color: #18827c;
    }
}